<ns-menu-layout #menu>
    <ns-header (onOpenMenu)="menu.openMenu()"></ns-header>
    <StackLayout>
        <StackLayout style="width: 80%; height: 80; margin: 20 auto">
        <!--<Image width="50" borderRadius="100" src="https://scontent.flim16-2.fna.fbcdn.net/v/t1.0-1/p160x160/10171054_10203589544045273_2181204617550903413_n.jpg?_nc_cat=109&_nc_ht=scontent.flim16-2.fna&oh=6187271fe6d75fe57dde3d9cce7855b3&oe=5D7DE70C"></Image>-->
            <GridLayout columns="50, auto" rows="*">
                <StackLayout row="0" col="0">
                    <Image width="50" height="50" stretch="aspectFill" borderRadius="100" src="https://scontent.flim16-2.fna.fbcdn.net/v/t1.0-1/p160x160/10171054_10203589544045273_2181204617550903413_n.jpg?_nc_cat=109&_nc_ht=scontent.flim16-2.fna&oh=6187271fe6d75fe57dde3d9cce7855b3&oe=5D7DE70C"></Image>
                </StackLayout>
                <StackLayout row="0" col="1">
                    <Label class="personal-info" [text]="getNames()"></Label>
                    <Label class="personal-info-warn" [text]="getPoints()"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <ns-card [user]="user" (onClientLevel)="validateClientLevel($event)"></ns-card>
    </StackLayout>
</ns-menu-layout>
