<FlexboxLayout class="form">
    <StackLayout class="form-wrapper">
        <StackLayout>
            <Image class="logo" src="~/app/images/logo-qroma.png" width="190"></Image>
            <Label class="header main-text-color" text="Puntos Qroma"></Label>
        </StackLayout>
        <StackLayout>
            <Label class="main-text" style.whiteSpace="normal" text="Seleccione cualquiera de estas opciones para acceder al app"></Label>
        </StackLayout>
        <StackLayout class="action-wrapper">
            <Button class="main-button main-color" (tap)="socialLogin('facebook')">
                <FormattedString>
                    <Span text="&#xea91; Ingrese con Facebook" fontFamily="icomoon"></Span>
                </FormattedString>
            </Button>
            <Button class="main-button main-color" (tap)="socialLogin('facebook')">
                <FormattedString>
                    <Span text="&#xea89; Ingrese con Google" fontFamily="icomoon"></Span>
                </FormattedString>
            </Button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>
