<AbsoluteLayout>
    <StackLayout top="0" left="0" width="100%">
        <Image src="~/app/images/slider2.jpg" stretch="aspectFill"></Image>
    </StackLayout>
    <StackLayout top="50" left="0" width="100%">
        <StackLayout [class]="getCardLevel()">
            <StackLayout>
                <Label class="card-type" [text]="getCardLevelName()"></Label>
                <Label class="card-accumulated" [text]="getPointsAccumlated()"></Label>
                <Label class="card-names" [text]="getCardHolder()"></Label>
                <Label class="card-points" [text]="getAmountEarn()" style.whiteSpace="normal"></Label>
                <Label class="card-points" [text]="getAmountNeeded()" style.whiteSpace="normal"></Label>
            </StackLayout>
            <StackLayout>
                <GridLayout columns="*, *, *" rows="*">
                    <Progress row="0" col="0" value="0" maxValue="100" color="red" backgroundColor="#FFFF66"></Progress>
                    <Progress row="0" col="1" value="0" maxValue="100" color="green" backgroundColor="#FFFF66"></Progress>
                    <Progress row="0" col="2" value="0" maxValue="100" color="yellow" backgroundColor="#FFFF66"></Progress>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</AbsoluteLayout>