/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
*/
.btn {
    font-size: 18;
}

.main-color {
    background-color: #0078C1;
    color: white;
    /*font-family: 'icomoon';*/
}

.main-text-color {
    color: #0078C1;
}

.side-color {
    background-color: #71C167;
}

.side-text-color {
    color: #71C167;
}

.main-button {
    margin: 5 0;
}

/*layouts*/

.form {
    align-items: center;
    flex-direction: column;
}

.form-wrapper {
    /*padding: 40 10;*/
    flex-grow: 2;
    vertical-align: middle;
    /*background-color: #71C167;*/
}

.main-text {
    width: 70%;
    text-align: center;
    margin-bottom: 40;
}

.action-wrapper {
    /*padding: 40 0;*/
}

.logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
}
.header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    /*color: #D51A1A;*/
}

/*especial*/

.product {
    /*background-color: orange;*/
    height: 280;
    width: 45%;
    margin-top: 20;
}

.product-info {
    padding-top: 10;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center;
}
.product-cost {
    padding-top: 10;
    color: #0078C1;
    width: 100%;
    text-align: center;
}

.false-button {
    background-color: whitesmoke;
    border-color: transparent;
    border-width: 1;
    text-align: left;
}
